<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HashMash</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-0">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                @MainLayout.MasherTitle
            </NavLink>
        </li>
        <li class="nav-item px-0">
            <NavLink class="nav-link" href="whatishashing" Match="NavLinkMatch.All">
                @MainLayout.WhatIsHashingTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="char-offset" Match="NavLinkMatch.All">
                <span style="padding-right:5px">&#8226;</span> @MainLayout.CharacterOffsetTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bit-shifting" Match="NavLinkMatch.All">
                <span style="padding-right:5px">&#8226;</span> @MainLayout.BitShiftingTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="modular-arithmetic" Match="NavLinkMatch.All">
                <span style="padding-right:5px">&#8226;</span> @MainLayout.ModularArithmeticTitle
            </NavLink>
        </li>
        <li class="nav-item px-0">
            <NavLink class="nav-link" href="representing-letters" Match="NavLinkMatch.All">
                @MainLayout.RepresentingLettersTitle
            </NavLink>
        </li>

        <li class="nav-item px-0">
            <NavLink class="nav-link" href="representing-numbers" Match="NavLinkMatch.All">
                @MainLayout.RepresentingNumbersTitle
            </NavLink>
        </li>

        <li class="nav-item px-0">
            <NavLink class="nav-link" href="real-world-hashing" Match="NavLinkMatch.All">
                @MainLayout.RealWorldHashFunctionsTitle
            </NavLink>
        </li>
    </ul>
</div>
